/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 6:05:45 PM
    Author     : Alex Videnov
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Helvetica, Arial, sans-serif; 
}

body{
    overflow-x: hidden;
    background-color: $default-background;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

