/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:37:31 AM
    Author     : Alex Videnov
*/

@import 'settings.scss';

@mixin reset{
    margin: 0; 
    padding: 0;
}

@mixin mobile{
    @media (min-width: #{$mobile-breakpoint}) {
        @content;
    }
}