/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:38:59 AM
    Author     : Alex Videnov
*/

$mobile-breakpoint: 800px;

$gallery-image-width: 300px;
$gallery-image-height: 225px;

$dropdown-icon-unicode: '\f0d7';

$accent-color: #7af0e7;
$navigation-link-color: #171616;
$color-on-hover-and-focus: #fff;
$default-background: rgba(0,0,0,0.7);
$background-list-item-color: #ddd; 
$headings-color: #cfe6e6;
$footer-background: #d8e8eb;
$social-links-color: #001a21;
$social-links-hover-color: #fc5c65;

$font-size-big: 6rem;
$font-size-medium: 4rem;
$font-size-normal: 1.8rem;
$font-size-small: 1.2rem;

