/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:38:59 AM
    Author     : Alex Videnov
*/

$mobile-breakpoint: 800px;

$dropdown-icon-unicode: '\f0d7';

$accent-color: aquamarine;
$navigation-link-color: #777;
$navigation-link-color-on-hover: #fff;
$background-list-item-color: #ddd;


$font-size-big: 6rem;
$font-size-medium: 4rem;
$font-size-normal: 1.8rem;
$font-size-small: 1.2rem;

