/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 18, 2020, 3:27:53 PM
    Author     : Alex Videnov
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:40:12 AM
    Author     : Alex Videnov
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:37:31 AM
    Author     : Alex Videnov
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:38:59 AM
    Author     : Alex Videnov
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:38:59 AM
    Author     : Alex Videnov
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 6:05:45 PM
    Author     : Alex Videnov
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Helvetica, Arial, sans-serif; }

body {
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.9); }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

.main-navigation {
  border-top: 1px solid #7af0e7;
  border-bottom: 1px solid #7af0e7;
  margin: 2em;
  position: absolute; }

.menu {
  display: flex;
  flex-direction: column; }
  @media (min-width: 800px) {
    .menu {
      flex-direction: row; } }
  .menu li {
    display: block;
    text-transform: uppercase;
    z-index: 100; }
    .menu li a {
      display: flex;
      text-align: center;
      text-decoration: none;
      color: #989494;
      padding: 1rem; }
      .menu li a:hover {
        background: #7af0e7;
        color: #fff;
        transition: 1s; }

.dropdown > a:after {
  padding: 2px; }
  .dropdown > a:after .dropdown > a:after {
    padding: 1px; }

nav ul li:hover > ul {
  display: block;
  color: #fff;
  padding-left: 2rem;
  transition: 1s;
  z-index: 100; }
  @media (min-width: 800px) {
    nav ul li:hover > ul {
      padding-left: 0;
      background: #171616; }
      nav ul li:hover > ul a {
        color: #fff; } }
nav ul ul {
  display: none; }
  @media (min-width: 800px) {
    nav ul ul {
      position: absolute; } }
  @media (min-width: 800px) {
    nav ul ul ul {
      margin: 0 0 0 100%;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.6); } }

@media (min-width: 800px) {
  .sub-menu li {
    display: flex;
    padding-right: 2em; }
    .sub-menu li:hover, .sub-menu li a:hover {
      background: #ddd;
      color: #fff;
      transition: 1s; } }

.move-right-button {
  margin-right: 3rem;
  margin-top: 2rem;
  padding: 1.3rem;
  display: inline-block;
  background-color: #7af0e7;
  border: 2px solid #7af0e7;
  border-radius: 5rem;
  transition: background-color 1s;
  display: flex;
  float: right; }
  .move-right-button:hover {
    color: #7af0e7;
    background-color: rgba(0, 0, 0, 0.2); }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 3:44:10 PM
    Author     : Alex Videnov
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:38:59 AM
    Author     : Alex Videnov
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:37:31 AM
    Author     : Alex Videnov
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:38:59 AM
    Author     : Alex Videnov
*/
.hero {
  width: 100vw;
  height: 100vh;
  transition: background 2s;
  background: url("images/slideshow_images/IMG_3.jpg"); }

.hero-text {
  width: 100%;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #eee;
  text-align: center;
  display: block; }
  .hero-text h1 {
    font-size: 1.2rem;
    margin: 2rem 0; }
    @media (min-width: 800px) {
      .hero-text h1 {
        font-size: 6rem; } }
  .hero-text h2 {
    font-size: 1.2rem; }
    @media (min-width: 800px) {
      .hero-text h2 {
        font-size: 4rem; } }
  .hero-text p {
    font-size: 1.2rem;
    margin-bottom: 5rem; }
    @media (min-width: 800px) {
      .hero-text p {
        font-size: 1.8rem; } }
  .hero-text .btn {
    padding: 1.3rem;
    display: inline-block;
    background-color: #7af0e7;
    border: 2px solid #7af0e7;
    border-radius: 5rem;
    transition: background-color 1s; }
    .hero-text .btn:hover {
      color: #7af0e7;
      background-color: rgba(0, 0, 0, 0.2); }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 8:47:46 PM
    Author     : Alex VIdenov
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:37:31 AM
    Author     : Alex Videnov
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:38:59 AM
    Author     : Alex Videnov
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:38:59 AM
    Author     : Alex Videnov
*/
.gallery-header {
  text-align: center;
  margin: 1.5rem 0;
  font-size: 2rem;
  color: #cfe6e6; }

h5 {
  font-weight: 500;
  line-height: 1.7em; }

h6 {
  color: #7af0e7;
  font-size: 1.8rem; }

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10rem 10rem 10rem 10rem;
  width: 100%; }
  @media (min-width: 800px) {
    .products {
      padding: 7rem; } }

.product-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2%;
  flex: 1 15%;
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0px 0px 1px 0px #fff; }
  .product-card .product-image .img1 {
    content: url("../images/thumbnails/img1.jpg"); }
  .product-card .product-image .img2 {
    content: url("../images/thumbnails/img2.jpg"); }
  .product-card .product-image .img3 {
    content: url("../images/thumbnails/img3.jpg"); }
  .product-card .product-image .img4 {
    content: url("../images/thumbnails/img4.jpg"); }
  .product-card .product-image .img5 {
    content: url("../images/thumbnails/img5.jpg"); }
  .product-card .product-image .img6 {
    content: url("../images/thumbnails/img6.jpg"); }
  .product-card .product-image .img7 {
    content: url("../images/thumbnails/img7.jpg"); }
  .product-card .product-info {
    padding-top: 1.2rem;
    text-align: center;
    color: #7af0e7; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 20, 2020, 2:55:20 PM
    Author     : Alex Videnov
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:37:31 AM
    Author     : Alex Videnov
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:38:59 AM
    Author     : Alex Videnov
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:38:59 AM
    Author     : Alex Videnov
*/
.contact-container {
  width: 100%;
  height: 100vh;
  padding-bottom: 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .contact-container .form-container {
    padding: 2.5rem 3rem 2.5rem 3rem;
    background: linear-gradient(45deg, #7af0e7, rgba(0, 0, 0, 0.9)) transparent;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 20, 2020, 3:37:18 PM
    Author     : Alex Videnov
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:37:31 AM
    Author     : Alex Videnov
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:38:59 AM
    Author     : Alex Videnov
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:38:59 AM
    Author     : Alex Videnov
*/
.form-heading h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
  color: #cfe6e6; }

.input-box {
  position: relative; }
  .input-box .icon {
    position: absolute;
    height: 2rem;
    color: #fff;
    line-height: 2rem; }
  .input-box input {
    background: transparent;
    width: 100%;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    margin-bottom: 1.2rem;
    font-size: 1.2rem;
    padding: 0.5rem 0rem 0.5rem 1.5rem;
    transition: 0.8s all;
    height: 2rem; }
    .input-box input:focus {
      outline: none;
      border-color: #fff; }
  .input-box textarea {
    background: transparent;
    width: 100%;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    margin-bottom: 1.2rem;
    font-size: 1.2rem;
    padding: 0.5rem 0rem 0.5rem 1.5rem;
    transition: 0.8s all; }
    .input-box textarea:focus {
      outline: none;
      border-color: #fff; }

.submit-button button {
  border: none;
  outline: none;
  width: 100%;
  background: #7af0e7;
  color: #171616;
  height: 40px;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 22, 2020, 10:23:58 AM
    Author     : User
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:37:31 AM
    Author     : Alex Videnov
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:38:59 AM
    Author     : Alex Videnov
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:38:59 AM
    Author     : Alex Videnov
*/
footer {
  background: #d8e8eb;
  padding: 4rem 0; }

.footer-container {
  margin: auto;
  padding: 0 1.2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .footer-container .footer-content {
    width: 100%;
    text-align: center; }

.logo {
  width: 20rem; }

.social {
  margin: 1.2rem 0; }
  .social a {
    color: #001a21;
    margin-right: 1.5rem;
    font-size: 1.8rem;
    transition: 0.3s linear; }
    .social a:hover {
      color: #fc5c65; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 24, 2020, 6:13:39 PM
    Author     : Alex Videnov
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:37:31 AM
    Author     : Alex Videnov
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:38:59 AM
    Author     : Alex Videnov
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:38:59 AM
    Author     : Alex Videnov
*/
.about-us-container {
  padding-top: 12rem; }
  @media (min-width: 800px) {
    .about-us-container {
      padding-top: 6rem;
      max-width: 90%;
      width: 95%;
      margin: 1.2rem auto; } }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 28, 2020, 4:23:44 PM
    Author     : Alex Videnov
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:37:31 AM
    Author     : Alex Videnov
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:38:59 AM
    Author     : Alex Videnov
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:38:59 AM
    Author     : Alex Videnov
*/
.about-header {
  text-align: center;
  margin: 1.5rem 0;
  font-size: 2rem;
  color: #cfe6e6; }

.columns {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1.2rem 0;
  padding: 2rem; }
  .columns .column {
    flex-basis: 100%;
    margin: 0 0 5px 0; }
    @media (min-width: 800px) {
      .columns .column {
        flex: 1;
        margin: 0.3rem;
        z-index: -100; }
        .columns .column:first-child {
          margin-top: -12rem;
          margin-left: 0; }
        .columns .column:last-child {
          margin-right: 0; } }
    .columns .column img {
      padding-bottom: 5rem;
      width: 100%;
      height: 100%; }
    .columns .column p {
      color: #cccccc;
      font-size: 1.8rem;
      letter-spacing: 0.2rem; }
    .columns .column h2 {
      color: #b3b3b3;
      padding: 1.2rem;
      font-size: 1.8rem;
      text-align: center; }
    .columns .column h3 {
      color: #15bcaf;
      padding-top: 3rem;
      font-size: 1.8rem; }

@media screen and (max-width: 980px) {
  .columns .column {
    margin-bottom: 5px;
    flex-basis: 40%; }
    .columns .column:nth-last-child(2) {
      margin-right: 0; }
    .columns .column:last-child {
      flex-basis: 100%;
      margin: 0; } }
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 28, 2020, 4:44:23 PM
    Author     : Alex Videnov
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:37:31 AM
    Author     : Alex Videnov
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:38:59 AM
    Author     : Alex Videnov
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:38:59 AM
    Author     : Alex Videnov
*/
.service-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
  width: 100%; }
  @media (min-width: 800px) {
    .service-area {
      padding-top: 7rem;
      width: 100%; } }
  .service-area .single-service {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25rem;
    height: auto;
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    margin: 1.2rem;
    padding: 1.2rem;
    transition: 1s; }
    .service-area .single-service:hover {
      background: #7af0e7; }
    .service-area .single-service:nth-child(1) .service-img {
      background-image: url("../images/service_images/kit.jpg"); }
    .service-area .single-service:nth-child(2) .service-img {
      background-image: url("../images/service_images/warranty.jpg"); }
    .service-area .single-service:nth-child(3) .service-img {
      background-image: url("../images/service_images/bike_repair.jpg"); }
    .service-area .single-service:nth-child(4) .service-img {
      background-image: url("../images/service_images/kit_repair.jpg"); }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 28, 2020, 5:50:45 PM
    Author     : Alex Videnov
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:37:31 AM
    Author     : Alex Videnov
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:38:59 AM
    Author     : Alex Videnov
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:38:59 AM
    Author     : Alex Videnov
*/
.service-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  border: 4px solid #ddd;
  border-radius: 60%;
  margin-bottom: 0.5rem;
  padding: 1.2rem;
  background-size: cover;
  background-position: center center; }

.service-text {
  padding-top: 1.2rem; }
  .service-text .service-header {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3rem;
    color: #0b605a; }
  .service-text p {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.8rem;
    color: #fff; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jun 10, 2020, 10:34:09 AM
    Author     : Alex Videnov
*/
.accordion {
  width: 90%;
  max-width: 70%;
  margin: 10rem auto; }

.accordion-item {
  background-color: #fff;
  color: #171616;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25); }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jun 10, 2020, 10:36:14 AM
    Author     : Alex Videnov
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:37:31 AM
    Author     : Alex Videnov
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:38:59 AM
    Author     : Alex Videnov
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:38:59 AM
    Author     : Alex Videnov
*/
.faq_header {
  text-align: center;
  margin: 1.5rem 0;
  font-size: 2rem;
  color: #cfe6e6; }

.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer; }
  .accordion-item-header::after {
    content: "\002B";
    font-size: 1.8rem;
    position: absolute;
    right: 1rem; }
  .accordion-item-header.active::after {
    content: "\2212"; }

.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out; }

.accordion-item-body-content {
  padding: 4rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1; }

/*# sourceMappingURL=style.css.map */
