@charset "UTF-8";
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 18, 2020, 3:27:53 PM
    Author     : Alex Videnov
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:40:12 AM
    Author     : Alex Videnov
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:37:31 AM
    Author     : Alex Videnov
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:38:59 AM
    Author     : Alex Videnov
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:38:59 AM
    Author     : Alex Videnov
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 6:05:45 PM
    Author     : Alex Videnov
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Helvetica, Arial, sans-serif; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

.main-navigation {
  border-top: 1px solid #7af0e7;
  border-bottom: 1px solid #7af0e7;
  margin: 2em;
  position: absolute; }

.menu {
  display: flex;
  flex-direction: column; }
  @media (min-width: 800px) {
    .menu {
      flex-direction: row; } }
  .menu li {
    display: block;
    text-transform: uppercase; }
    .menu li a {
      display: flex;
      text-align: center;
      text-decoration: none;
      color: #777;
      padding: 1rem; }
      .menu li a:hover {
        background: #7af0e7;
        color: #fff;
        transition: 1s; }

.dropdown > a:after {
  font-family: fontAwesome;
  content: "";
  padding: 2px; }
  .dropdown > a:after .dropdown > a:after {
    font-family: fontAwesome;
    content: "";
    padding: 1px;
    transform: rotate(-90deg); }

nav ul li:hover > ul {
  display: block;
  color: #fff;
  padding-left: 2rem;
  transition: 1s; }
  @media (min-width: 800px) {
    nav ul li:hover > ul {
      padding-left: 0;
      background: #777; }
      nav ul li:hover > ul a {
        color: #fff; } }
nav ul ul {
  display: none; }
  @media (min-width: 800px) {
    nav ul ul {
      position: absolute; } }
  @media (min-width: 800px) {
    nav ul ul ul {
      margin: 0 0 0 100%;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.6); } }

@media (min-width: 800px) {
  .sub-menu li {
    display: flex;
    padding-right: 2em; }
    .sub-menu li:hover, .sub-menu li a:hover {
      background: #ddd;
      color: #fff;
      transition: 1s; } }

.move-right {
  margin-right: 3rem;
  margin-top: 2rem; }

.button {
  padding: 1.3rem;
  display: inline-block;
  background-color: #7af0e7;
  border: 2px solid #7af0e7;
  border-radius: 5rem;
  transition: background-color 1s;
  display: flex;
  float: right; }
  .button:hover {
    color: #7af0e7;
    background-color: rgba(0, 0, 0, 0.2); }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 3:44:10 PM
    Author     : Alex Videnov
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:38:59 AM
    Author     : Alex Videnov
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:37:31 AM
    Author     : Alex Videnov
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:38:59 AM
    Author     : Alex Videnov
*/
.hero {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)); }

.hero-text {
  display: none; }
  @media (min-width: 800px) {
    .hero-text {
      width: 100%;
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #eee;
      text-align: center;
      display: block; } }
  .hero-text h1 {
    font-size: 6rem;
    margin: 2rem 0; }
  .hero-text h2 {
    font-size: 4rem; }
  .hero-text p {
    font-size: 1.8rem;
    margin-bottom: 5rem; }
  .hero-text .btn {
    padding: 1.3rem;
    display: inline-block;
    background-color: #7af0e7;
    border: 2px solid #7af0e7;
    border-radius: 5rem;
    transition: background-color 1s; }
    .hero-text .btn:hover {
      color: #7af0e7;
      background-color: rgba(0, 0, 0, 0.2); }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 7:09:43 PM
    Author     : Alex Videnov
*/
.slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.75s ease-in-out; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 8:47:46 PM
    Author     : Alex VIdenov
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:37:31 AM
    Author     : Alex Videnov
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:38:59 AM
    Author     : Alex Videnov
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:38:59 AM
    Author     : Alex Videnov
*/
body {
  background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0.5)); }

.gallery-header {
  padding: 3rem;
  text-align: center;
  font-size: 1.8rem;
  color: #cfe6e6; }

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  flex-direction: row; }
  .gallery-container .single-image {
    width: 300px;
    height: 225px;
    margin: 0 1.2rem 1.2rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer; }
    .gallery-container .single-image div {
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center; }
      .gallery-container .single-image div a {
        font-size: 18px;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase; }
      .gallery-container .single-image div:hover {
        opacity: 0.8;
        transition: all ease-in-out 500ms; }
  .gallery-container .img1 {
    background-image: url("../images/thumbnails/img1.jpg"); }
  .gallery-container .img2 {
    background-image: url("../images/thumbnails/img2.jpg"); }
  .gallery-container .img3 {
    background-image: url("../images/thumbnails/img3.jpg"); }
  .gallery-container .img4 {
    background-image: url("../images/thumbnails/img4.jpg"); }
  .gallery-container .img5 {
    background-image: url("../images/thumbnails/img5.jpg"); }
  .gallery-container .img6 {
    background-image: url("../images/thumbnails/img6.jpg"); }
  .gallery-container .img7 {
    background-image: url("../images/thumbnails/img7.jpg"); }
  .gallery-container .img8 {
    background-image: url("../images/thumbnails/img8.jpg"); }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 20, 2020, 2:55:20 PM
    Author     : Alex Videnov
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:37:31 AM
    Author     : Alex Videnov
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:38:59 AM
    Author     : Alex Videnov
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:38:59 AM
    Author     : Alex Videnov
*/
.contact-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .contact-container .form-container {
    padding: 2.5rem 3rem 2.5rem 3rem;
    background-image: linear-gradient(45deg, #7af0e7, #000);
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 20, 2020, 3:37:18 PM
    Author     : Alex Videnov
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:37:31 AM
    Author     : Alex Videnov
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:38:59 AM
    Author     : Alex Videnov
*/
.form-heading h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
  color: #cfe6e6; }

.input-box {
  position: relative; }
  .input-box .icon {
    position: absolute;
    height: 2rem;
    color: #fff;
    line-height: 2rem; }
  .input-box input {
    background: transparent;
    width: 100%;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    margin-bottom: 1.2rem;
    font-size: 1.2rem;
    padding: 0.5rem 0rem 0.5rem 1.5rem;
    transition: 0.8s all;
    height: 2rem; }
    .input-box input:focus {
      outline: none;
      border-color: #fff; }
  .input-box textarea {
    background: transparent;
    width: 100%;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    margin-bottom: 1.2rem;
    font-size: 1.2rem;
    padding: 0.5rem 0rem 0.5rem 1.5rem;
    transition: 0.8s all; }
    .input-box textarea:focus {
      outline: none;
      border-color: #fff; }

.submit-button button {
  border: none;
  outline: none;
  width: 100%;
  background: #7af0e7;
  color: #777;
  height: 40px;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer; }

/*# sourceMappingURL=style.css.map */
