/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 28, 2020, 5:50:45 PM
    Author     : Alex Videnov
*/

@import '../mixins.scss';
@import '../settings.scss';


.service-img{
    @include flex;
    width: 10rem;
    height: 10rem;
    border: 4px solid #ddd;
    border-radius: 60%;
    margin-bottom: 0.5rem;
    padding: 1.2rem;
    background-size: cover;
    background-position: center center;
}

.service-text{
    padding-top: 1.2rem;
    
    .service-header{
        font-size: $font-size-normal;
        font-weight: 500;
        line-height: 3rem;
        color: darken($accent-color, 50%);
    }

    p{
        font-size: $font-size-small;
        font-weight: 400;
        line-height: 1.8rem; 
        color: $color-on-hover-and-focus;
    }
}


