/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 10:40:12 AM
    Author     : Alex Videnov
*/

@import '../mixins.scss'; 
@import '../settings.scss';
@import '../global.scss';

.main-navigation{
  border-top: 1px solid $accent-color;
  border-bottom: 1px solid $accent-color;
  margin: 2em;
  position: absolute;
}

.menu{
  display: flex;  
  flex-direction: column;
  
  @include mobile{
    flex-direction:row;
  }
  
  li{
    display: block;
    text-transform: uppercase;
    z-index: 100;
     
    a{
        display: flex;
        text-align: center;
        text-decoration: none;
        color: lighten($navigation-link-color, 50%);
        padding: 1rem; 
        
        &:hover{
           background: $accent-color;
           color: $color-on-hover-and-focus; 
           transition: 1s;
        }
    }
  } 
} 

.dropdown > a:after{
  padding: 2px;
  
    .dropdown > a:after{
        padding: 1px;
    }
}

nav ul{
    li:hover > ul{
        display: block;
        color: $color-on-hover-and-focus;
        padding-left: 2rem; 
        transition: 1s;
        z-index: 100;
        
        @include mobile{
            padding-left:0;
            background:$navigation-link-color;  
            
            a{
              color: $color-on-hover-and-focus;  
            }
        }
    }
    
    ul{
        display: none;
        
        @include mobile{
            position: absolute; 
        }
        
        ul{
            @include mobile{
                margin: 0 0 0 100%;
                box-shadow: 0 0 2px rgba(0, 0, 0, 0.6); 
            } 
        }
    }
}

.sub-menu{
    @include mobile{
        li{
            display: flex;
            padding-right: 2em;
        
            &:hover, a:hover{
                background: $background-list-item-color;
                color: $color-on-hover-and-focus; 
                transition: 1s;
            } 
        }
    }
}

.move-right-button{
    margin-right: 3rem;
    margin-top: 2rem;
    
    @include landing-page-button;
    display: flex;
    float: right;
}
