/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 8:47:46 PM
    Author     : Alex VIdenov
*/

@import '../mixins.scss';
@import "../settings.scss";

body{
    background-image: linear-gradient(to right, black, rgba(0,0,0,0.5));
}

.gallery-header{
    padding: 3rem;
    text-align: center;
    font-size: $font-size-normal; 
    color: $headings-color;
}

.gallery-container{ 
    @include flex;
    padding: 5rem;
    flex-direction: row;
    
    .single-image{
        div{
            width: 100%;
            height: 100%;
            background-color: $default-background;
            opacity: 0;
            @include flex;
            
            a{
                font-size: 18px;
                color: $color-on-hover-and-focus;
                text-decoration: none;
                text-transform: uppercase;
            }
            
            &:hover{
                opacity: 0.8;
                transition: all ease-in-out 500ms;
            }
        }
        @include image-mixin; 
    }
    
    .img1{
        background-image: url("../images/thumbnails/img1.jpg");
    }
    
    .img2{
        background-image: url("../images/thumbnails/img2.jpg");
    }
    
    .img3{
        background-image: url("../images/thumbnails/img3.jpg");
    }
    
    .img4{
        background-image: url("../images/thumbnails/img4.jpg");
    }
    
    .img5{
        background-image: url("../images/thumbnails/img5.jpg");
    }
    
    .img6{
        background-image: url("../images/thumbnails/img6.jpg");
    }
    
    .img7{
        background-image: url("../images/thumbnails/img7.jpg");
    }
    
    .img8{
        background-image: url("../images/thumbnails/img8.jpg");
    }
}

