/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 19, 2020, 8:47:46 PM
    Author     : Alex VIdenov
*/

@import '../mixins.scss';
@import '../settings.scss';

h5{
    font-weight: 500;
    line-height: 1.7em;
}

h6{
    color: $accent-color;
    font-size: $font-size-normal;
}

body{
    background: $default-background;
}

.products {
    @include flex;
    padding: 7rem;
    width: 100%;
    background: darken($default-background, 30%);
}

.product-card {
    @include flex;
    flex-direction: column;
    padding: 2%;
    flex: 1 15%;
    background-color: $default-background;
    box-shadow: 0px 0px 1px 0px $color-on-hover-and-focus;
    
    .product-image{
    
        .img1{
            content: url("../images/thumbnails/img1.jpg");
        }

        .img2{
            content: url("../images/thumbnails/img2.jpg");
        }
        
        //TODO add the other images as well

    }
    
    .product-info {
        padding-top: 1.2rem;
        text-align: center;
        color: $accent-color;
    }
 
}

