/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 20, 2020, 3:37:18 PM
    Author     : Alex Videnov
*/

@import '../mixins.scss';

.form-heading h2{
    text-align: center;
    text-transform: uppercase;
    font-size: $font-size-normal;
    margin-bottom: 1.2rem;
    color: $headings-color;
}

.input-box{
    position: relative; 
    
    .icon{
        position: absolute;
        height: 2rem;
        color: $color-on-hover-and-focus;
        line-height: 2rem;
    }
    
    input{
        @include input-field;
        height: 2rem;
    }
            
    textarea{
       @include input-field;
    }
}
        
.submit-button button{
    border: none;
    outline: none;
    width: 100%;
    background: $accent-color;
    color: $navigation-link-color;
    height: 40px;
    font-size: $font-size-small;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
 
