/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 28, 2020, 4:23:44 PM
    Author     : Alex Videnov
*/

@import '../mixins.scss';
@import '../settings.scss';

.about-header{
    @include header;
}

.columns {
    position: relative;
    @include flex;
    margin: 1.2rem 0;
    padding: 2rem;
    
    .column{
        flex-basis: 100%;
	margin: 0 0 5px 0;
        @include mobile{
            flex: 1;
            margin: 0.3rem;
            &:first-child { margin-left: 0; }
            &:last-child { margin-right: 0; }
            z-index: -100;  
        }
        
        img{
            padding-bottom: 5rem;
            width: 100%;
            height: 100%;
        }
  
        p{
            font-size: $font-size-normal;
            letter-spacing: 0.2rem;
        }
  
        h2{
            padding: 1.2rem;
            font-size: $font-size-normal;
            text-align: center;
        }
        
        h3{
            padding-top: 1.2rem;
            font-size: $font-size-normal;
        }
    }
}
    
@media screen and (max-width: 980px) {
  .columns .column {
	margin-bottom: 5px;
        flex-basis: 40%;
	&:nth-last-child(2) {
		margin-right: 0;
	}
	&:last-child {
            flex-basis: 100%;
            margin: 0;
	}
    }
}

